<% include ./partials/header %>

<div class="row">
  <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
    <h1>Checkout</h1>
    <h4 name='chargeAmount'>Your Total : <%-totalPrice%></h4>
    <div id="charge-error" class="alert alert-danger <%if(noError){%> hidden <%}%>">
    <%-errMsg%>
    </div>
    <!-- <form action="/charge" csrf({ cookie: true, ignoreMethods: ['POST'] }) method = "post"> -->
    <form action="/checkout" method = "post" id = 'checkout-form' >
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" id = "name" class='form-control' required>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="address">Address</label>
            <input type="text" name="address" id = "address" class='form-control' required>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="form-group">
            <label for="card-name">Card Holder Name</label>
            <input type="text" name="card-name" id = "card-name" class='form-control' required>
          </div>
        </div>
        <!-- <div class="col-xs-12">
          <div class="form-group">
            <label for="card-number">Credit Card Number</label>
            <input type="text" name="card-number" id = "card-number" class='form-control' required>
          </div>
        </div> -->
        <!-- <div class="col-xs-6">
          <div class="form-group">
            <label for="card-expiry-month">Expritation Month</label>
            <input type="text" name="card-expiry-month" id = "card-expiry-month" class='form-control' required>
          </div>
        </div>
        <div class="col-xs-6"> -->
          <!-- <div class="form-group">
            <label for="card-expiry-year">Expritation Year</label>
            <input type="text" name="card-expiry-year" id = "card-expiry-year" class='form-control' required>
          </div> -->
        <!-- </div> -->
        <!-- <div class="col-xs-12">
          <div class="form-group">
            <label for="card-cvc">CVV</label>
            <input type="text" name="card-cvc" id = "card-cvc" class='form-control' required>
          </div>
        </div> -->
      </div>
      <!-- <button type="submit" class="btn btn-success">Buy Now</button> -->
      <input type="hidden" name="_csrf" value="<%-csrfToken%>">
        <script src="https://checkout.stripe.com/checkout.js"
        class = 'stripe-button'
        data-key = "pk_test_9u3czOwOnB2gd2wpoFGZtQiL"
        data-amount= "<%-totalPrice%>"
        data-name = "cart-products"
        data-description = "this is cart products"
        data-locale = "auto"
         data-currency = "gbp"
         >
      </script>
          <input type="hidden" name="chargeAmount" value="<%-totalPrice%>">
    </form>
  </div>
</div>





<!-- <script type="text/javascript" src="https://js.stripe.com/v2/"></script>-->
<script type="text/javascript" src="./javascript/checkout.js"></script>

<% include ./partials/footer %>
